extends layout
block content
  div(class='main')
    h3 비밀번호 변경
    br
    form(action='/users/password_change', method='post')
        div(class="input-group sizing-form1")
            label(for="inputName") 현재 비밀번호
            input(type="password", name="now_password", class="form-control", placeholder="현재 비밀번호를 입력해 주세요", maxlength=25, required)
        br
        div(class="input-group sizing-form1")
                label(for="inputName") 바꿀 비밀번호
                input(type="password", name="change_password", class="form-control", placeholder="비밀번호를 입력해 주세요.", id="PWinputed_1", maxlength=25, required)
            p
            div(class="input-group sizing-form1")
                input(type="password", class="form-control", placeholder="비밀번호를 다시 입력해 주세요.", id="PWinputed_2", maxlength=25, required)
            p
            div(id='PWchecknotice1', class='sign_up_notice') 8~20자, 영문에 숫자나 특수문자를 하나 이상 포함하는 비밀번호를 입력해 주세요
            div(id='PWchecknotice2', class='sign_up_notice') 서로 같은 비밀번호를 입력해 주세요
        span(class="input-group-btn")
            button(id='sign_submit_button', class="btn btn-default", type="submit", disabled=true, required) 전송
    script(src="/javascripts/pw_check.js")